* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #000000;
    background: #ffffff;
    justify-self: center;
}

img{
    display: inline-block;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(135deg, #ffffff, #ffffff);
}

.logo {
    font-family: 'sora', sans-serif;
    color: #ff5678;
    font-size: 2rem;
    
}

nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 2rem;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 1;
    transition: color 0.5s ease;
}

nav a:hover {
    color: #1472ff
}

.say-hi-social,
.say-hi-header{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    background-color:#ff5678;
    text-decoration: none;
}

.main { 
    margin: 0rem;
}

.opening {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 32px;
}

.opening-para{
    font-size: 20px;
}

.preview {
    max-width: 100rem;
    max-height: 100rem;
}

.say-hi-social {
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 12rem;
    text

}

.row {
    display: flex;
    gap: 1rem;
}

.row-image {
    max-width: 1.5rem;
    max-height: 1.5rem;
    align-self: center;
}

.text {
    color:#ff5678;
}

.AM {
    display: flex;
    grid-template-columns: repeat(2, 50%);
    height: 400px;
    justify-content: space-between;
}

.loving {
    max-width: 70%;
    transform: scaleX(-1);
    
}

.work-title {
    display: flex;
    justify-content: space-between;
}

.link-linkden {
    margin-top: .5rem;
    color: gray;
    text-decoration: none;   
}

.links {
    margin-top: .2rem;
    color: #000000;
    text-decoration: none;   
}

.grid {
    display: flex;
    justify-self: center;
}

.grid2,
.grid1{
    margin-right: 15rem;
}


.text-grey {
    color: lightgray;
    font-size: 75%;
}

.rows {
    display: flex;
    
}


.row1,
.row2,
.row3 {
    box-shadow: 10px 10px 5px 12px #f9f9f9;
}

.row1,
.row2 {
    margin-right: 14rem;
}

.row1 {
    margin-left: 1rem;
}

.rectangle1 {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery {
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    
}

.Dribble {
    color: #ff5678;
}

.skillset {
    display: flex;
    justify-content: space-between;
}

.path {
    justify-content: left;
    max-width: 70px;
    max-height: 70px;
    margin-top: 30px;
}

.lets-connect {
    display: flex;
    justify-content: space-between;
}

.left1 {
    display: flex;
    margin-right: 10rem;
    gap: 1rem;
}

footer {
    display: flex;
    background-color: #ff5678;
    justify-content: center;
    margin-top: 2rem;
}

.copy {
   margin-bottom: 1rem; 
   font-size: 1.2rem;
   color: white;
}
